# POSTGRES SETTINGS
POSTGRES_PORT=5432
POSTGRES_DB=opd
POSTGRES_USER=opd
POSTGRES_PASSWORD=opd
DATABASE_URL=postgres://opd:opd@postgres:5432/opd?sslmode=disable

# APP SETTINGS
APP_PORT=8080
REDIS_PORT=6379
JWT_SECRET=change-me
JWT_ISSUER=opd-library
JWT_AUDIENCE=opd-api
APP_PUBLIC_URL=http://example.com

# OAUTH SETTINGS
GOOGLE_CLIENT_SECRET=google-secret-key
GOOGLE_CLIENT_ID=google-client-id.apps.googleusercontent.com
GOOGLE_REDIRECT_URI=http://example.com/google/callback
YANDEX_CLIENT_SECRET=yandex-secret-key
YANDEX_CLIENT_ID=yandex-client-id
YANDEX_REDIRECT_URI=http://example.com/yandex/callback